.navbar {
    border-color: deepskyblue;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
}

#blog-title {
    padding-right: 40px;
}

#blog-title {
    color: #00a1b5;
    text-shadow: 1px 1px 1px rgb(52, 126, 36);
    font-size: larger;
}

.u-url {
    font-size: 23px;
    color: steelblue; /* or seagreen? or steelblue?  or teal?*/
}

@media (min-width: 1200px) {
  .container {
    max-width: 950px;
  }
}

a:hover {
    color: steelblue;
    text-decoration-line: underline;
    text-decoration-color: palevioletred;
    text-decoration-thickness: 3px;
    text-decoration-skip: none;
}

/*Может когда-нибудь захочу сменить фон шапки*/
/*.navbar.navbar {*/
/*    background-color: rgba(55, 127, 186, 0.92);*/
/*}*/
.more a {
    color: cornflowerblue;
    font-size: 15px;
    font-weight: bold;
}

.dateline a{
    color: lightcoral;
}
/*устанавливаем для всех ссылок дефолтный цвет*/
a {
    color: steelblue;
}

.img-circle {
    border-radius: 50%;
    max-height: 170px;
    float: left;
    margin-right:50px;
}
